@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$appFont: '';
$pc: 1024;
$sp: 768;
// color
$primary-color: #009944;
$sub1-color: #c4d700;
$sub2-color: #e60012;

// Common

body,
button,
p,
label {
    font-family: 'Poppins' !important;
    font-size: 14px;
}

#root {
    width: 100%;
    height: 100vh;
}

.login-form {
    min-width: 360px;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.text-right {
    text-align: right;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-fit {
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
}

// header
.app-header {
    width: 100%;
    display: flex;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

//

.token-list {
    background-color: #f8fafc;
    padding: 20px;
    border-radius: 20px;
    height: 100%;

    .token-card {
        padding-inline: 20px;
        padding-block: 8px;
        border-radius: 20px !important;
        height: 100px;
        width: 100%;
        background: #fcfcfd;
        box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;

        .token-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .pc-token-card-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
}

.user-card {
    width: 100%;
    min-height: 120px;
    border-radius: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 330px;
    padding-inline: 30px;
    padding-block: 15px;
    background-color: $primary-color !important;

    p,
    svg {
        color: #fff;
    }

    .balance-font {
        color: $sub1-color !important;
    }
}

.asset-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 500px;
    padding: 10px;
}

.menu-card {
    margin-block: 20px;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 20px !important;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
.token-button {
    font-family: 'Poppins';
    text-transform: capitalize;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 10px;
    padding-block: 6px;
    min-width: '300px';
}

*/

.deposit-panel {
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    background: #fcfcfd;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.country-select {
    width: 100%;

    div>label {
        top: -8px !important;
    }

    div>div {
        padding-block: 0 !important;
    }
}

.user-card-skeleton {
    width: 100%;
    height: 120px;
}

.outline-none {
    fieldset {
        border: 0px !important;
    }
}

.two-factor-form {
    margin-top: 200px;
    width: 500px;
    height: 400px;
    margin-inline: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);

    .auth-code {
        input {
            text-align: center !important;
        }
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        button {
            margin-bottom: 15px;
        }
    }
}

.balance-box {
    width: 300px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: 24px !important;
    color: $primary-color;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: darkgoldenrod;
        margin-left: 5px;
    }
}

.btn-download {
    max-width: fit-content;
}

.csv-link {
    text-decoration: none !important;
    color: $primary-color
}

.auto-panel {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 0 5px 12px 0 rgba(63, 63, 63, 0.2);
    padding: 3px 15px;
}